* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.starting {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/images/bg.webp");
  font-family: "Stag", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

h1 {
  color: red;
  font-size: 6rem;
  font-weight: bold;
  -webkit-text-stroke: white 4px;
}

#game {
  display: block;
  width: 100%;
  height: 100%;
}

.game,
.join-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-container {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  max-width: 100%;
  width: 32rem;
}

.join-container input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  outline: none;
}

.join-container button {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  background-color: red;
  outline: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.video-style {
  object-fit: cover;
}

.fallingText {
  text-align: center;
  width: 80vw;
  color: #ff0000;
  z-index: 1001;
  font-size: 12vh;
  overflow: hidden;
}

.flexCenterParent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fallingTextAnimation {
  animation-name: fallingTextAnim;
  animation-duration: 0.075s;
  animation-timing-function: ease-in;
}

@keyframes fallingTextAnim {
  0% {
    top: -50vh;
  }
  100% {
    top: 0vh;
  }
}

.starting {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 10;
}

.starting h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
