* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.starting {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Stag", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; /* Make sure the body is relative */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Push the video to the background */
}

h1 {
  color: red;
  font-size: 6rem;
  font-weight: bold;
  -webkit-text-stroke: white 4px;
}

#game {
  display: block;
  width: 100%;
  height: 100%;
}

.game,
.join-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-container {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  max-width: 100%;
  width: 32rem;
  z-index: 10; /* Make sure the form is on top of the video */
}

.join-container input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  outline: none;
}

.join-container button {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  background-color: red;
  outline: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 2rem;
  width: auto;
  z-index: 10; /* Ensure the button is on top of the video */
}

.sound-btn {
  background-image: url("/images/volume-icon.png");
  display: block;
  width: 5rem !important;
  height: 5rem !important;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  border: 2px solid white;
  background-color: red;
}

.sound-btn-muted {
  background-image: url("/images/muted-icon.png");
}

.pickup-hud {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.5rem);
  border-radius: 0.3rem;
  padding: 1rem 1.5rem 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: max-content;
  max-width: 100%;
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.pickup-hud-hidden {
  opacity: 0;
  pointer-events: none;
}

.pickup-hud p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.pickup-hud img {
  width: 6rem;
  height: 6rem;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
